<div class="cards-container">
      {{#each producto}}
<div class="card">
   <article class="card__article">
      <div class="card__image-container">
         <img class="" src="{{img}}" alt="un personaje de esta famosa pelicula">

      </div>
      <div class="card__content">
         <h2 class="card__heading">{{name}}</h2>
         <h3 class="card__price">{{price}}</h3>
         <p class="card__description">{{description}}</p>
         <a class="card__agg-cart link-cart" data-productid="{{productId}}" href="#" id="comprar" >Comprar</a>
         <form action="/{{_id}}?_method=Delete" method="post" enctype="multipart/form-data">
            <button type="submit">Eliminar</button>
         </form>
      </div>
   </article>
</div>
   {{/each}}
</div>
